/* 作用：选择页面上的某一个或者某一类元素 */
/* 基本选择器 */
/* 优先级：id选择器 > class选择器 > 标签选择器 */
/* ----------------------------------------- */

/* 1、标签选择器 */
/* 标签选择器，会选择到页面上所有这个标签的元素 */
/* 格式：
标签名{

}
 */
h4{ /* 这里会选择到这个页面的全部的h4这个标签 */
     color:blue; 
     
}

/* 2、类选择器 */
/* 类选择器可以将多个标签归类，若是同一个class，就用一样的样式 */
/* 类选择器的格式：
    .class的名称{

    }
*/
/* 2.1、在html中的标签使用class */
/* <h1 class="hello_world">标题1</h1> */
/* <h2 class="hello_world">标题2</h2> */
/* 2.2、定义class为hello_world的标签的样式 */
.hello_world{
    color:blue; 
}
/* 3、id选择器 */
/* id必须全局唯一，id选择器就可以给单个标签设置样式*/
/* id选择器的格式：
    #id的名称{

    }
 */
/* 3.1、在html中的标签使用id */
/* <h3 id="hello_css">标题3<h3> */
/* 3.2、定义id为hello_css的标签的样式 */
#hello_css{
    color:blue; 
}

/* ------------------------------------------------------ */
/* 另外，多个相同样式的可以写在一起，用逗号分隔 */
h1,h2{
    color: #000;
}
.hello,.bye{
    color: #000;
}
#h1,#h2{
    color: #000;
}
h1,.hello{
    color: #000;
}
.hello,#h1{
    color: #000;
}
#h1,.hello{
    color: #000;
}


